# Ignore virtual environment (whether in root or subfolders)
.venv/
**/.venv/

# Ignore all CSV files inside 'data' folder and subfolders
data/**/*.csv
data/*.csvdata/raw_analyst_ratings/raw_analyst_ratings.csv
